.header {
  @include desktop;
  color: blue;
}
.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo-wrapper {
  width: 230px;
  height: 230px;
  display: flex;
}
.header__logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}
