// main
$background: #ffffff;
$font-color: #000000;
$font-size: 16px;

// colors

// Fonts vars
// font-family: 'Outfit', sans-serif;

// media example
// @include lg-desktop {} 1440
// @include md-desktop {} 1024
// @include sm-tablets {} 768
// @include sm-mobile {} 375

// wrapper example
// @include desktop;
// @include laptop;
// @include tablet;
// @include mobile;

// sprite use
// <svg-icon name="sample" />
