.header {
}
.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo-wrapper {
  width: 230px;
  height: 230px;
  display: flex;
}
.header__logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.header__nav-links-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.header__nav-buttos-wrapper {
  margin-left: 50px;
  display: flex;
  position: relative;
}
.header__nav-basket-button {
  margin-right: 5px;
  & svg {
    width: 20px;
    height: 20px;
  }
}
.header__nav-basket-wrapper {
  display: flex;
  margin-right: 15px;
}

.header__nav-likes-button {
  margin-right: 5px;
  & svg {
    width: 20px;
    height: 20px;
  }
}
.header__nav-likes-wrapper {
  display: flex;
  margin-right: 15px;
}

.header__nav-language-button {
  & svg {
    width: 20px;
    height: 20px;
  }
}
